@charset "utf-8"; 

/* basic-N3 [PpM3zHwUFl] */
.basic-N3 { position: relative; top: -100%; left: 0; width: 100%; z-index: 200; transition: 0.3s; background-color: var(--white); }
.basic-N3.header-top-active { position: fixed; top: 0; }
.basic-N3.header-menuactive .header-inner { z-index: 200; }
.basic-N3.header-menuactive .header-inner::before { height: 37.3rem; }
.basic-N3.header-menuactive .header-gnblist { position: absolute; top: calc(100% + 12rem); left: 50%; transform: translateX(-50%); }
.basic-N3.header-menuactive .header-gnblink { font-size: var(--fs-h4); line-height: var(--lh-h4); font-weight: 400; }
.basic-N3.header-menuactive .header-utils .header-btn { display: none; }
.basic-N3.header-menuactive .header-utils .btn-close { display: block; }
.basic-N3 .header-inner { position: relative; width: 100%; height: 8rem; background-color: var(--white); }
.basic-N3 .header-inner::before { content: ''; position: absolute; top: 0; left: 0; height: 8rem; width: 100%; background-color: var(--white); z-index: -1; transition: 0.3s; }
.basic-N3 .header-container { display: flex; justify-content: space-between; height: 100%; padding: 2.4rem 8rem; }
.basic-N3 .header-title a { width: 10.6rem; height: 3.3rem; }
.basic-N3 .header-title img { width: 100%; height: 100%; object-fit: contain; }
.basic-N3 .header-left { display: flex; align-items: center; gap: 8.5rem; }
.basic-N3 .header-mobile-top { display: none; }
.basic-N3 .header-mobile-group .btn-close { display: none; position: absolute; top: 1.4rem; right: calc(100% + 0.8rem); }
.basic-N3 .header-gnblist { display: flex; align-items: center; }
.basic-N3 .header-gnbitem:hover .header-gnblink span::after,.basic-N3 .header-gnbitem.item-active .header-gnblink span::after { content: ''; display: inline-block; position: absolute; left: 0; top: 100%; background-color: var(--primary); transform: scaleX(1); }
.basic-N3 .header-gnbitem+.header-gnbitem .header-gnblink { padding-left: 3rem; }
.basic-N3 .header-gnbitem:last-child .header-gnblink { padding-right: 0; }
.basic-N3 .header-gnblink { padding-right: 3rem; font-size: var(--fs-p3); line-height: var(--lh-p3); font-weight: 600; text-align: center; white-space: nowrap; }
.basic-N3 .header-gnblink span { position: relative; }
.basic-N3 .header-gnblink span::after { content: ''; height: 0.2rem; width: 100%; transition: 0.3s; transform: scaleX(0); }
.basic-N3 .header-right { display: flex; }
.basic-N3 .header-btn { width: 3.2rem; height: 3.2rem; background: none; border: none; }
.basic-N3 .header-btn img { width: 100%; height: 100%; object-fit: cover; vertical-align: top; }
.basic-N3 .header-utils { display: flex; }
.basic-N3 .header-utils .header-btn+.header-btn { margin-left: 1.2rem; }
.basic-N3 .header-utils .btn-close { display: none; position: relative; z-index: 200; }
.basic-N3 .header-utils .btn-momenu { display: none; }
.basic-N3 .header-dim { display: none; position: fixed; top: 0; left: 0; z-index: 10; width: 100%; height: 100%; background-color: rgba(17, 17, 17, 0.7); }
@media (max-width: 1200px) {
 .basic-N3 .header-container { padding: 2.4rem; }
 .basic-N3 .header-left { gap: 4rem; }
}
@media (max-width: 992px) {
 .basic-N3.momenu-active .header-mobile-group { right: 0; width: calc(100% - 10rem); }
 .basic-N3.momenu-active .header-gnblist { display: block; height: 100%; overflow-y: auto; }
 .basic-N3.momenu-active .header-gnbitem.item-active .header-gnblink::after { content: ''; transform: rotate(180deg); }
 .basic-N3.momenu-active .header-mobile-group .btn-close { display: block; }
 .basic-N3 .header-inner { height: 6rem; }
 .basic-N3 .header-inner::before { content: none; }
 .basic-N3 .header-container { align-items: center; padding: 0 1.6rem; }
 .basic-N3 .header-left { gap: 0; }
 .basic-N3 .header-title a { width: 8.2rem; height: 2.6rem; }
 .basic-N3 .header-mobile-group { flex-direction: column; position: fixed; top: 0; right: -100%; width: 100%; height: 100%; background-color: var(--white); z-index: 200; transition: 0.3s; }
 .basic-N3 .header-mobile-top { height: 6rem; display: flex; align-items: center; justify-content: space-between; padding: 0 2rem; }
 .basic-N3 .header-mobile-top p { font-size: var(--fs-p3); color: var(--text-color3); }
 .basic-N3 .header-mobile-top a { font-size: var(--fs-p3); font-weight: 500; }
 .basic-N3 .header-gnbitem:hover, .basic-N3 .header-gnbitem.item-active { background-color: var(--highlight-bg); }
 .basic-N3 .header-gnbitem:hover .header-gnblink span::after, .basic-N3 .header-gnbitem.item-active .header-gnblink span::after { content: none; }
 .basic-N3 .header-gnblink { width: 100%; padding: 1.4rem 2rem !important; font-size: var(--fs-p3); font-weight: 500; text-align: left; }
 .basic-N3 .header-btn { width: 2.8rem; height: 2.8rem; }
 .basic-N3 .header-utils .btn-allmenu, .basic-N3 .header-utils .btn-user { display: none; }
 .basic-N3 .header-utils .btn-momenu { display: block; }
}

/* basic-N19 [JpM3ZHXQ2E] */
.basic-N19 .contents-inner { padding: 8rem 1.6rem; }
.basic-N19 .contents-group { display: flex; flex-wrap: wrap; width: calc(100% + 4rem); margin-left: -2rem; }
.basic-N19 .cardset { width: calc(100% / 3); margin-bottom: 6rem; padding: 0 2rem; }
.basic-N19 .cardset-body { text-align: center; }
.basic-N19 .cardset-figure { height: 48rem; }
@media (max-width: 992px) {
 .basic-N19 .contents-inner { padding: 5rem 1.6rem; }
 .basic-N19 .contents-group { width: 100%; margin-left: 0; }
 .basic-N19 .cardset { width: 100%; padding: 0; margin-bottom: 0; }
 .basic-N19 .cardset+.cardset { margin-top: 2rem; }
 .basic-N19 .cardset-figure { height: 40rem; }
 .basic-N19 .pagiset { margin-top: 4rem; }
}
