<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>첫페이지 | 프로젝트1056</title>
  <link rel="stylesheet" href="/static/css/setting.css">
  <link rel="stylesheet" href="/static/css/plugin.css">
  <link rel="stylesheet" href="/static/css/template.css">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <!-- [S]basic-N3 -->
  <div class="basic-N3" data-bid="PpM3zHwUFl">
    <div class="header-inner">
      <div class="header-container container-lg">
        <div class="header-left">
          <h1 class="header-title">
            <a href="javascript:void(0)">
              <img src="/static/images/img_logo_black.png" alt="로고">
            </a>
          </h1>
          <div class="header-mobile-group">
            <div class="header-mobile-top">
              <p>로그인이 필요합니다.</p>
              <a href="javascript:void(0)">로그인</a>
            </div>
            <ul class="header-gnblist">
              <li class="header-gnbitem">
                <a class="header-gnblink" href="javascript:void(0)">
                  <span>BRAND</span>
                </a>
              </li>
              <li class="header-gnbitem">
                <a class="header-gnblink" href="javascript:void(0)">
                  <span>PRODUCTS</span>
                </a>
              </li>
              <li class="header-gnbitem">
                <a class="header-gnblink" href="javascript:void(0)">
                  <span>COMMUNITY</span>
                </a>
              </li>
              <li class="header-gnbitem">
                <a class="header-gnblink" href="javascript:void(0)">
                  <span>EVENT</span>
                </a>
              </li>
              <li class="header-gnbitem">
                <a class="header-gnblink" href="javascript:void(0)">
                  <span>MEMBERSHIP</span>
                </a>
              </li>
            </ul>
            <button class="header-btn btn-close">
              <img src="/static/icons/ico_close_white.svg" alt="닫기 아이콘">
            </button>
          </div>
        </div>
        <div class="header-right">
          <div class="header-utils">
            <button class="header-btn btn-seach">
              <img src="/static/icons/ico_seach_black.svg" alt="검색 아이콘">
            </button>
            <a href="javascipt:void(0);" class="header-btn btn-user">
              <img src="/static/icons/ico_user_black.svg" alt="유저 아이콘">
            </a>
            <button class="header-btn btn-cart badgeset badgeset-circle badgeset-position badgeset-bottom-right">
              <img src="/static/icons/ico_cart_black.svg" alt="쇼핑백 아이콘">
              <span class="badgeset-text">1</span>
            </button>
            <button class="header-btn btn-allmenu">
              <img src="/static/icons/ico_menu2_black.svg" alt="PC메뉴 아이콘">
            </button>
            <button class="header-btn btn-momenu">
              <img src="/static/icons/ico_menu2_black.svg" alt="모바일메뉴 아이콘">
            </button>
            <button class="header-btn btn-close">
              <img src="/static/icons/ico_close_black.svg" alt="닫기 아이콘">
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="header-dim"></div>
  </div>
  <!-- [E]basic-N3 -->
  <!-- [S]basic-N19 -->
  <div class="basic-N19" data-bid="JpM3ZHXQ2E">
    <div class="contents-inner">
      <div class="contents-container container-md">
        <div class="contents-group">
          <a href="javascript:void(0);" class="cardset">
            <figure class="cardset-figure">
              <img class="cardset-img" src="/static/images/img_basic_N19_1.png" alt="이미지">
            </figure>
            <div class="cardset-body">
              <h5 class="cardset-tit">템하 비즈니스</h5>
              <p class="cardset-desc"> 또한 비즈니스 애플리케이션 서비스 수준의 제어를 극대화하고, 4배 빠른 속도로 미들웨어 이슈를 진단할 수 있다. </p>
            </div>
          </a>
          <a href="javascript:void(0);" class="cardset">
            <figure class="cardset-figure">
              <img class="cardset-img" src="/static/images/img_basic_N19_2.png" alt="이미지">
            </figure>
            <div class="cardset-body">
              <h5 class="cardset-tit">템하 비즈니스</h5>
              <p class="cardset-desc"> 또한 비즈니스 애플리케이션 서비스 수준의 제어를 극대화하고, 4배 빠른 속도로 미들웨어 이슈를 진단할 수 있다. </p>
            </div>
          </a>
          <a href="javascript:void(0);" class="cardset">
            <figure class="cardset-figure">
              <img class="cardset-img" src="/static/images/img_basic_N19_3.png" alt="이미지">
            </figure>
            <div class="cardset-body">
              <h5 class="cardset-tit">템하 비즈니스</h5>
              <p class="cardset-desc"> 또한 비즈니스 애플리케이션 서비스 수준의 제어를 극대화하고, 4배 빠른 속도로 미들웨어 이슈를 진단할 수 있다. </p>
            </div>
          </a>
          <a href="javascript:void(0);" class="cardset">
            <figure class="cardset-figure">
              <img class="cardset-img" src="/static/images/img_basic_N19_1.png" alt="이미지">
            </figure>
            <div class="cardset-body">
              <h5 class="cardset-tit">템하 비즈니스</h5>
              <p class="cardset-desc"> 또한 비즈니스 애플리케이션 서비스 수준의 제어를 극대화하고, 4배 빠른 속도로 미들웨어 이슈를 진단할 수 있다. </p>
            </div>
          </a>
          <a href="javascript:void(0);" class="cardset">
            <figure class="cardset-figure">
              <img class="cardset-img" src="/static/images/img_basic_N19_2.png" alt="이미지">
            </figure>
            <div class="cardset-body">
              <h5 class="cardset-tit">템하 비즈니스</h5>
              <p class="cardset-desc"> 또한 비즈니스 애플리케이션 서비스 수준의 제어를 극대화하고, 4배 빠른 속도로 미들웨어 이슈를 진단할 수 있다. </p>
            </div>
          </a>
          <a href="javascript:void(0);" class="cardset">
            <figure class="cardset-figure">
              <img class="cardset-img" src="/static/images/img_basic_N19_3.png" alt="이미지">
            </figure>
            <div class="cardset-body">
              <h5 class="cardset-tit">템하 비즈니스</h5>
              <p class="cardset-desc"> 또한 비즈니스 애플리케이션 서비스 수준의 제어를 극대화하고, 4배 빠른 속도로 미들웨어 이슈를 진단할 수 있다. </p>
            </div>
          </a>
        </div>
        <nav class="pagiset pagiset-line">
          <div class="pagiset-ctrl">
            <a class="pagiset-link pagiset-first" href="javascript:void(0)">
              <span class="visually-hidden">처음</span>
            </a>
          </div>
          <div class="pagiset-ctrl">
            <a class="pagiset-link pagiset-prev" href="javascript:void(0)">
              <span class="visually-hidden">이전</span>
            </a>
          </div>
          <div class="pagiset-list">
            <a class="pagiset-link active-fill" href="javascript:void(0)">1</a>
            <a class="pagiset-link" href="javascript:void(0)">2</a>
            <a class="pagiset-link" href="javascript:void(0)">3</a>
            <a class="pagiset-link" href="javascript:void(0)">4</a>
          </div>
          <div class="pagiset-ctrl">
            <a class="pagiset-link pagiset-next" href="javascript:void(0)">
              <span class="visually-hidden">다음</span>
            </a>
          </div>
          <div class="pagiset-ctrl">
            <a class="pagiset-link pagiset-last" href="javascript:void(0)">
              <span class="visually-hidden">마지막</span>
            </a>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <!-- [E]basic-N19 -->
  <script src="/static/js/setting.js"></script>
  <script src="/static/js/plugin.js"></script>
  <script src="/static/js/template.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/js/script.js"></script>
</body>